<section id="tasks">
    @if (isAddingTask) {
        <app-new-task (cancel)="onCancel()" (add)="onSubmit($event)"/>
    } @else {
        <header>
            <h2>{{ name }}'s Tasks</h2> 
            <menu>
                <button (click)="startAddingNewTask()">Add task</button>
            </menu>
        </header>
        <ul >
            @for (task of selectedUserTasks; track task.id){
                <li>
                    <app-task [task] = 'task' (complete)="onCompleteTask($event)"/>    
                </li>
            }        
        </ul>
    }
</section>